---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/298198/historical/24?apikey=3nAk9BEZxKy4LGG03q6IXqcbjth56H28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '45'
      Akamai-Grn:
      - 0.2d0cde17.1724188332.8feb333
    body:
      encoding: UTF-8
      string: '[{"EpochTime":1724187720,"WeatherText":"Mostly
        clear","WeatherIcon":34,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{},"MobileLink":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us","Link":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us"},{"EpochTime":1724183880,"WeatherText":"Mostly
        clear","WeatherIcon":34,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{},"MobileLink":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us","Link":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us"},{"EpochTime":1724180520,"WeatherText":"Mostly
        clear"[...]
