---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/298198/historical/24?apikey=3nAk9BEZxKy4LGG03q6IXqcbjth56H28&details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '22'
      Akamai-Grn:
      - 0.2d090f17.1724233327.eed58f
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-21T11:00:00+02:00","EpochTime":1724230800,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":28.0,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":31.1,"Unit":"C","UnitType":17,"Phrase":"Very
        Warm"},"Imperial":{"Value":88.0,"Unit":"F","UnitType":18,"Phrase":"Very Warm"}},"RealFeelTemperatureShade":{"Metric":{"Value":26.9,"Unit":"C","UnitType":17,"Phrase":"Very
        Warm"},"Imperial":{"Value":80.0,"Unit":"F","UnitType":18,"Phrase":"Pleasant"}},"RelativeHumidity":50,"IndoorRelativeHumidity":50,"DewPoint":{"Metric":{"Value":16.7,"Unit":"C","UnitType":17},"Imperial":{"Value":62.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":225,"Localized":"SW","English":"SW"},"Speed":{"Metric":{"Value":11.5,"Unit":"km/h","UnitType":7},"Imperial":{"Value":7.2,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":23.9,"Unit":"km/h","UnitType":7},"Imperial":{"Value":14.9,"Unit":"mi/h","UnitType":9}}},"UVIndex":6,"UVIndexText":"High","Visibility":{"Metric":{"Value":16.1,"Unit":"km","UnitType":6},"Imperial":{"Value":10.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"","CloudCover":24,"Ceiling":{"Metric":{"Value":9144.0,"Unit":"m","UnitType":5},"Imperial":{"Value":30000.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":1009.8,"Unit":"mb","UnitType":14},"Imperial":{"Value":29.82,"Unit":"inHg","UnitType":12}},"PressureTendency":{"LocalizedText":"Steady","Code":"S"},"Past24HourTemperatureDeparture":{"Metric":{"Value":1.3,"Unit":"C","UnitType":17},"Imperial":{"Value":2.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":28.3,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":27.8,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":20.4,"Unit":"C","UnitType":17},"Imperial":{"Value":69.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Metric":{"Value":25.8,"Unit":"C","UnitType":17},"Imperial":{"Value":78.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":0.5,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.02,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{"Minimum":{"Metric":{"Value":19.8,"Unit":"C","UnitType":17},"Imperial":{"Value":68.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":28.0,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}}},"Past12HourRange":{"Minimum":{"Metric":{"Value":19.8,"Unit":"C","UnitType":17},"Imperial":{"Value":68.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":28.0,"Unit":"C","UnitType":17},"Imperial":{"Value":82.0,"Unit":"F","UnitType":18}}},"Past24HourRange":{"Minimum":{"Metric":{"Value":19.8,"Unit":"C","UnitType":17},"Imperial":{"Value":68.0,"Unit":"F","UnitType":18}},"Maximum":{"Metric":{"Value":30.6,"Unit":"C","UnitType":17},"Imperial":{"Value":87.0,"Unit":"F","UnitType":18}}}},"MobileLink":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us","Link":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us"},{"LocalObservationDateTime":"2024-08-21T10:00:00+02:00","EpochTime":1724227200,"WeatherText":"Partly
        sunny","WeatherIcon":3,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":26.5,"Unit":"C","UnitType":17},"Imperial":{"Value":80.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":30.7,"Unit":"C","UnitType":17,"Phrase":"Very
        Warm"[...]
