---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/298198/historical/24?apikey=3nAk9BEZxKy4LGG03q6IXqcbjth56H28&details=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '44'
      Akamai-Grn:
      - 0.2d0cde17.1724189311.96417c6
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-08-20T23:02:00+02:00","EpochTime":1724187720,"WeatherText":"Mostly
        clear","WeatherIcon":34,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":23.0,"Unit":"C","UnitType":17},"Imperial":{"Value":73.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":22.1,"Unit":"C","UnitType":17,"Phrase":"Pleasant"},"Imperial":{"Value":72.0,"Unit":"F","UnitType":18,"Phrase":"Pleasant"}},"RealFeelTemperatureShade":{"Metric":{"Value":22.1,"Unit":"C","UnitType":17,"Phrase":"Pleasant"},"Imperial":{"Value":72.0,"Unit":"F","UnitType":18,"Phrase":"Pleasant"}},"RelativeHumidity":48,"IndoorRelativeHumidity":48,"DewPoint":{"Metric":{"Value":11.4,"Unit":"C","UnitType":17},"Imperial":{"Value":53.0,"Unit":"F","UnitType":18}},"Wind":{"Direction":{"Degrees":23,"Localized":"NNE","English":"NNE"},"Speed":{"Metric":{"Value":3.6,"Unit":"km/h","UnitType":7},"Imperial":{"Value":2.3,"Unit":"mi/h","UnitType":9}}},"WindGust":{"Speed":{"Metric":{"Value":7.3,"Unit":"km/h","UnitType":7},"Imperial":{"Value":4.5,"Unit":"mi/h","UnitType":9}}},"UVIndex":0,"UVIndexText":"Low","Visibility":{"Metric":{"Value":24.1,"Unit":"km","UnitType":6},"Imperial":{"Value":15.0,"Unit":"mi","UnitType":2}},"ObstructionsToVisibility":"","CloudCover":30,"Ceiling":{"Metric":{"Value":12192.0,"Unit":"m","UnitType":5},"Imperial":{"Value":40000.0,"Unit":"ft","UnitType":0}},"Pressure":{"Metric":{"Value":1009.5,"Unit":"mb","UnitType":14},"Imperial":{"Value":29.81,"Unit":"inHg","UnitType":12}},"PressureTendency":{"LocalizedText":"Steady","Code":"S"},"Past24HourTemperatureDeparture":{"Metric":{"Value":-4.7,"Unit":"C","UnitType":17},"Imperial":{"Value":-9.0,"Unit":"F","UnitType":18}},"ApparentTemperature":{"Metric":{"Value":22.8,"Unit":"C","UnitType":17},"Imperial":{"Value":73.0,"Unit":"F","UnitType":18}},"WindChillTemperature":{"Metric":{"Value":22.8,"Unit":"C","UnitType":17},"Imperial":{"Value":73.0,"Unit":"F","UnitType":18}},"WetBulbTemperature":{"Metric":{"Value":15.8,"Unit":"C","UnitType":17},"Imperial":{"Value":61.0,"Unit":"F","UnitType":18}},"WetBulbGlobeTemperature":{"Metric":{"Value":18.8,"Unit":"C","UnitType":17},"Imperial":{"Value":66.0,"Unit":"F","UnitType":18}},"Precip1hr":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PrecipitationSummary":{"Precipitation":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"PastHour":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past3Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past6Hours":{"Metric":{"Value":0.0,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.0,"Unit":"in","UnitType":1}},"Past9Hours":{"Metric":{"Value":0.4,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.01,"Unit":"in","UnitType":1}},"Past12Hours":{"Metric":{"Value":0.5,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.02,"Unit":"in","UnitType":1}},"Past18Hours":{"Metric":{"Value":3.2,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.13,"Unit":"in","UnitType":1}},"Past24Hours":{"Metric":{"Value":6.2,"Unit":"mm","UnitType":3},"Imperial":{"Value":0.25,"Unit":"in","UnitType":1}}},"TemperatureSummary":{"Past6HourRange":{},"Past12HourRange":{},"Past24HourRange":{}},"MobileLink":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us","Link":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us"},{"LocalObservationDateTime":"2024-08-20T21:58:00+02:00","EpochTime":1724183880,"WeatherText":"Mostly
        clear","WeatherIcon":34,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":24.8,"Unit":"C","UnitType":17},"Imperial":{"Value":77.0,"Unit":"F","UnitType":18}},"RealFeelTemperature":{"Metric":{"Value":24.8,"Unit":"C","UnitType":17,"Phrase":"Pleasant"},"Impe[...]
