---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/298198?apikey=3nAk9BEZxKy4LGG03q6IXqcbjth56H28
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '29'
      Akamai-Grn:
      - 0.54ab3717.1724181202.ba42d72
    body:
      encoding: UTF-8
      string: '[{"EpochTime":1724180220,"WeatherText":"Mostly
        clear","WeatherIcon":34,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{},"MobileLink":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us","Link":"http://www.accuweather.com/en/rs/belgrade/298198/current-weather/298198?lang=en-us"}]'
  recorded_at: Tue, 20 Aug 2024 19:13:22 GMT
recorded_with: VCR 6.3.1
